
body{
	background: url('../images/add1.jpg') center center no-repeat;
	/*b
	font-family: new time roman;
	height: 160%;
	width: 100%;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
*/
background-size: cover;
    height: 700px;
    text-align: center;
    align-items: center;
    position: relative;

}


#ui{
	background-color: rgba(255, 99, 71, 0.6);
	border-radius: 30px;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 5px;
	position:relative;
	height: 300px;
	text-align: center;

}
#ui label{
	font-weight: bold;
	font-size:15px;
	
}

.error{ color:black; 
font-size: 20px;
text-align: center;
font-weight: bold;
}
.content{
	background-color:white;
	padding: 5px;
	margin-top: 10px;
	margin-bottom: 15px;
	position:relative;
	height: 35px;
	text-align: center;
	text-decoration-color: black;
}
 
